@charset "UTF-8";
@import url(https://use.typekit.net/lpz2crc.css);
/* 除算math.divを使うのに必要な記述 */
html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.4rem, 1.3346938776rem + 0.2040816327vw, 1.6rem);
}
body a {
  color: #0f0f0f;
}
body a :hover {
  transition: 0.5s;
  -webkit-transition: 0.5s; /* Chrome、Safari用 */
  -moz-transition: 0.5s; /* Firefox用 */
  -o-transition: 0.5s; /* Opera用 */
  opacity: 0.8;
}
body img {
  max-width: 100%;
  height: auto;
}
body .mincho {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}
body section {
  margin-bottom: 40px;
}

/* 非表示状態 */
.inactive {
  display: none;
  opacity: 0;
}

/* 表示状態 */
.active {
  display: block;
  opacity: 1;
}

#navigation {
  opacity: 0;
  visibility: hidden; /* 見えなくするが、スペースを維持 */
  transition: opacity 0.5s ease-in-out;
}

#navigation.visible {
  opacity: 1;
  visibility: visible; /* 表示状態 */
  transition: opacity 0.5s ease-in-out;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 8px;
  background-color: white;
  z-index: 99999;
  box-shadow: 0px 0px 15px -5px #777777;
}
@media screen and (max-width: 768px) {
  .nav {
    height: 60px;
  }
}
.nav__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav__wrap .logo img {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .nav__wrap .logo img {
    height: 30px;
  }
}
.nav__wrap .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .nav__wrap .menu {
    display: none;
  }
}

.drawer-hamburger {
  top: unset;
  width: 30px;
  display: none;
}
@media screen and (max-width: 768px) {
  .drawer-hamburger {
    display: block;
  }
}

.drawer-nav {
  background-color: #fafafa;
}
.drawer-nav ul .logo {
  padding-left: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
}
.drawer-nav ul li a {
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.drawer-nav ul li a::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-repeat: no-repeat;
}
.drawer-nav ul li a:hover {
  background-color: white;
  text-decoration: none;
  color: black;
}

/* ナビの背景を前面に出す */
.drawer--right.drawer-open .drawer-nav {
  width: 100%;
}

/* アイコンの位置 */
.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}

body {
  line-height: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  text-align: left;
  zoom: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-size: 100%;
  font-weight: normal;
  line-height: 1;
}

input, textarea, select {
  font-family: inherit;
  font-size: 16px;
}

input[type=button], input[type=text], input[type=submit] {
  -webkit-appearance: none;
  border-radius: 0;
}

textarea {
  resize: none;
  -webkit-appearance: none;
  border-radius: 0;
}

th, td {
  border-collapse: collapse;
}

table th, table td {
  white-space: nowrap;
}

ul, ol {
  list-style-type: none;
}

img {
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  max-width: 100%;
  height: auto;
  width: auto;
}

html {
  /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
  -ms-overflow-style: none;
  /*Firefoxへの対応*/
  scrollbar-width: none;
  /*Google Chrome、Safariへの対応*/
}
html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.header__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #004C71;
  border: unset;
  box-shadow: unset;
  border-radius: 100px;
  width: 100%;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #006ea4;
}
button a {
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-color=blue] {
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
[data-color=blue]:hover {
  background-color: #004C71 !important;
  border: unset !important;
  color: white !important;
  opacity: 1;
}
[data-color=blue]:hover * {
  color: inherit !important;
}
[data-color=blue]:hover::before, [data-color=blue]:hover::after {
  color: inherit !important;
}

[data-color=pink] {
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
[data-color=pink]:hover {
  background-color: #F07884 !important;
  border: unset !important;
  color: white !important;
  opacity: 1;
}
[data-color=pink]:hover * {
  color: inherit !important;
}
[data-color=pink]:hover::before, [data-color=pink]:hover::after {
  color: inherit !important;
}

.banner.swiper {
  width: 100%;
  max-width: 1200px; /* 最大幅を設定（任意） */
  margin: 0 auto;
  overflow: hidden;
}
.banner .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.banner .swiper-pagination {
  position: relative;
  margin-top: 24px;
}
.banner .swiper-slide img {
  width: 100%;
}
.banner .swiper-slide-prev,
.banner .swiper-slide-next {
  transform: scale(0.9); /* 少し縮小 */
  opacity: 0.5; /* 薄く表示 */
}
.banner .swiper-slide-active {
  transform: scale(1); /* 通常サイズ */
  opacity: 1; /* はっきり表示 */
}

.oaite__loop.swiper {
  width: 100%;
  overflow: hidden; /* スライダー外の要素を隠す */
}
.oaite__loop .swiper-slide {
  width: auto; /* コンテンツの幅に合わせる */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__wrap .logo {
  height: auto;
}
.nav__wrap .logo img {
  height: 40px;
}
.nav__wrap .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav__wrap .menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav__wrap .menu .login {
  padding: 8px 16px;
  border-radius: 100px;
  background-color: #F07884;
  color: white;
}
.nav__wrap .menu .login span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
}
.nav__wrap .menu .login span::before {
  font: var(--fa-font-solid);
  content: "\f090";
  color: white;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
}
.nav__sp {
  justify-content: space-between;
  align-items: center;
}
.nav__sp .logo {
  z-index: 99999;
}
.nav__sp .logo img {
  height: 35px;
}
.nav .nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav .nav-inner ul {
  width: 100%;
  padding-top: 60px;
}
.nav .nav-inner ul li {
  border-bottom: 1px #004C71 dotted;
}
.nav .nav-inner ul li:first-child {
  border-top: 1px #004C71 dotted;
}
.nav .nav-inner ul li a::after {
  font: var(--fa-font-solid);
  content: "\f105";
  font-size: clamp(1.6rem, 1.5346938776rem + 0.2040816327vw, 1.8rem);
  color: #004C71;
}
.nav .nav-inner .login {
  padding: 8px 16px;
  border-radius: 100px;
  background-color: #F07884;
  color: white;
  margin-bottom: 100px;
  width: 90%;
}
.nav .nav-inner .login span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
}
.nav .nav-inner .login span::before {
  font: var(--fa-font-solid);
  content: "\f090";
  color: white;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
}

main .kv {
  position: relative;
}
main .kv::before, main .kv::after {
  content: "This Moment";
  font-family: "mina", serif;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
  position: absolute;
  left: 0;
  top: 0;
  color: #004C71;
  z-index: 999;
  padding: 0px 8px;
}
@media screen and (max-width: 768px) {
  main .kv::before, main .kv::after {
    font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
    color: white;
  }
}
main .kv::after {
  content: "This Time";
  left: unset;
  top: unset;
  right: 0;
  bottom: 0;
}
main .kv__line {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* 右上 */
  /* 左下 */
}
main .kv__line .migi,
main .kv__line .hidari {
  /* 共通のスタイル */
}
main .kv__line .migi::before, main .kv__line .migi::after,
main .kv__line .hidari::before,
main .kv__line .hidari::after {
  content: "";
  position: absolute;
}
main .kv__line .migi::before {
  width: 70vw;
  height: 1px;
  top: 20px;
  right: 20px;
  background-color: #004C71;
  transform-origin: top right;
}
@media screen and (max-width: 768px) {
  main .kv__line .migi::before {
    width: 30vw;
    background-color: white;
  }
}
main .kv__line .migi::after {
  height: 85vh;
  width: 1px;
  top: 20px;
  right: 20px;
  background-color: #004C71;
  transform-origin: top right;
}
@media screen and (max-width: 768px) {
  main .kv__line .migi::after {
    background-color: white;
  }
}
main .kv__line .hidari::before {
  width: 70vw;
  height: 1px;
  bottom: 20px;
  left: 20px;
  background-color: #004C71; /* 線の色 */
  transform-origin: bottom left;
}
@media screen and (max-width: 768px) {
  main .kv__line .hidari::before {
    width: 30vw;
    background-color: white;
  }
}
main .kv__line .hidari::after {
  height: 85vh;
  width: 1px;
  bottom: 20px;
  left: 20px;
  background-color: #004C71; /* 線の色 */
  transform-origin: bottom left;
}
@media screen and (max-width: 768px) {
  main .kv__line .hidari::after {
    background-color: white;
  }
}
main .kv__wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  main .kv__wrap {
    flex-direction: column;
    background-image: url(../images/kv.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
main .kv__wrap > div {
  width: 50%;
}
@media screen and (max-width: 768px) {
  main .kv__wrap > div {
    width: 100%;
  }
}
main .kv__wrap .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #004C71;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  main .kv__wrap .box {
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
main .kv__wrap .box .t1 {
  letter-spacing: 10px;
  margin-bottom: 16px;
}
main .kv__wrap .box .logo {
  margin-bottom: 16px;
}
main .kv__wrap .box .logo img {
  max-width: 300px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  main .kv__wrap .box .logo img {
    max-width: 100%;
  }
}
main .kv__wrap .box button {
  width: 50%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  main .kv__wrap .box button {
    width: 100%;
  }
}
main .kv__wrap .box .maru {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
main .kv__wrap .box .maru > a {
  border-radius: 100%;
  border: 1px #004C71 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 100px;
  color: #004C71;
  line-height: 100%;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
  gap: 8px;
}
main .kv__wrap .box .maru .oik::before {
  font: var(--fa-font-solid);
  content: "\f002";
  color: #004C71;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}
main .kv__wrap .box .maru .idk {
  border: 1px #F07884 solid;
  color: #F07884;
}
main .kv__wrap .box .maru .idk::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  color: #F07884;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}
main .kv__wrap .image {
  height: 50vh;
}
@media screen and (max-width: 768px) {
  main .kv__wrap .image {
    display: none;
  }
}
main .kv__wrap .image img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
main .midashi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .midashi .h1 {
  font-size: clamp(3.5rem, 3.4346938776rem + 0.2040816327vw, 3.7rem);
  color: #004C71;
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  main .midashi .h1 {
    font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  }
}
main .midashi p {
  text-align: center;
  margin-bottom: 40px;
}
main .midashi .banner__wrap {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  main .midashi .banner__wrap {
    width: 100%;
  }
}
main .midashi .banner__wrap a {
  display: block;
  height: 80px;
}
main .midashi .banner__wrap a img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
main .mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
  font-weight: bold;
  color: #004C71;
  letter-spacing: 10px;
}
@media screen and (max-width: 768px) {
  main .mainTitle {
    font-size: clamp(2.5rem, 2.4346938776rem + 0.2040816327vw, 2.7rem);
    letter-spacing: normal;
    margin-bottom: 16px;
  }
}
main .feature {
  background-color: #EAF2F4;
  background-image: radial-gradient(white 30%, transparent 30%);
  background-size: 20px 20px;
  position: relative;
}
main .feature::after {
  content: "";
  position: absolute;
  border: 5px white solid;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 95%;
  height: 95%;
}
main .feature__wrap {
  padding: 40px 0px;
}
main .feature__area {
  z-index: 10;
}
main .feature__area .mainTitle {
  gap: 24px;
}
main .feature__area .mainTitle::before, main .feature__area .mainTitle::after {
  content: "";
  background-image: url(../images/fuki1.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main .feature__area .mainTitle::after {
  transform: scaleX(-1);
}
main .feature__area .area {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
  gap: 16px;
  flex: 1;
}
@media screen and (max-width: 768px) {
  main .feature__area .area {
    flex-direction: column;
    align-items: center;
  }
}
main .feature__area .area .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .feature__area .area .box .point {
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 8px;
  line-height: 100%;
}
main .feature__area .area .box img {
  aspect-ratio: 1/1;
  max-height: 300px;
}
main .feature__area .area .box p {
  max-width: 300px;
}
main .btn__area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
main .btn__area > button {
  color: white;
  padding: 8px;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
main .btn__area .male {
  border: 1px #004C71 solid;
  color: #004C71;
  background: white;
}
main .btn__area .male::before {
  font: var(--fa-font-solid);
  content: "\f183";
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  color: #004C71;
}
main .btn__area .female {
  border: 1px #F07884 solid;
  color: #F07884;
  background: white;
}
main .btn__area .female::before {
  font: var(--fa-font-solid);
  content: "\f182";
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
}
main .btn__area .imadoko {
  border-radius: 100%;
  border: 1px #F07884 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 100px;
  color: #F07884;
  line-height: 100%;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
  gap: 8px;
  background-color: white;
}
main .btn__area .imadoko::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  color: #F07884;
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
}
main .oaite .mainTitle::before {
  font: var(--fa-font-solid);
  content: "\f002";
  color: #004C71;
  font-size: clamp(4rem, 3.9346938776rem + 0.2040816327vw, 4.2rem);
}
main .oaite p {
  text-align: center;
  margin-bottom: 40px;
}
main .oaite .oaite__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  justify-content: flex-start;
}
main .oaite .oaite__wrap .box {
  flex-shrink: 0;
}
main .oaite .oaite__wrap .box .image {
  position: relative;
  z-index: 0;
}
main .oaite .oaite__wrap .box .image img {
  max-width: 250px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
main .oaite .oaite__wrap .box .info {
  position: absolute;
  padding: 4px;
  height: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
main .oaite .oaite__wrap .box .info .name {
  font-weight: bold;
}
main .oaite .oaite__wrap .box .info .name::after {
  content: "/";
  margin-left: 4px;
  font-weight: normal;
}
main .oaite .oaite__wrap .box .info .lciq {
  margin-left: 8px;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
}
main .oaite .oaite__wrap .box .info .lciq::after {
  content: "/LCIQ";
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  margin-left: 4px;
}
main .imadoko .mainTitle {
  color: #F07884;
}
main .imadoko .mainTitle::before {
  font: var(--fa-font-solid);
  content: "\f3c5";
  color: #F07884;
  font-size: clamp(4rem, 3.9346938776rem + 0.2040816327vw, 4.2rem);
}
main .imadoko p {
  text-align: center;
  margin-bottom: 40px;
}
main .imadoko iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}
@media screen and (max-width: 768px) {
  main .imadoko iframe {
    aspect-ratio: 1/1;
  }
}
main .cv {
  background-color: #EAF2F4;
  background-image: radial-gradient(white 30%, transparent 30%);
  background-size: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  gap: 16px;
  padding: 40px 0px;
}
main .cv__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .cv__wrap .catch {
  text-align: center;
  font-weight: bold;
  color: #004C71;
  margin-bottom: 16px;
}
main .cv__wrap button {
  width: 50%;
}
@media screen and (max-width: 768px) {
  main .cv__wrap button {
    width: 100%;
  }
}
main .cv__wrap button a {
  font-weight: bold;
}
main .merit__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}
main .merit__wrap .box {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  main .merit__wrap .box {
    grid-template-columns: 1fr;
  }
}
main .merit__wrap .box:nth-child(2) .image {
  order: 2;
}
@media screen and (max-width: 768px) {
  main .merit__wrap .box:nth-child(2) .image {
    order: 1;
  }
}
main .merit__wrap .box:nth-child(2) .text {
  order: 1;
}
@media screen and (max-width: 768px) {
  main .merit__wrap .box:nth-child(2) .text {
    order: 2;
  }
}
main .merit__wrap .box .image img {
  width: 100%;
}
main .merit__wrap .box .text .title {
  font-weight: bold;
  font-size: clamp(2rem, 1.9346938776rem + 0.2040816327vw, 2.2rem);
}
main .subtitle {
  text-align: center;
  margin-top: 24px;
}
@media screen and (max-width: 768px) {
  main .subtitle {
    margin-top: 8px;
  }
}
main .subtitle span {
  display: block;
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
  text-align: center;
}
main .price__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
  overflow-x: auto;
  padding: 16px;
}
main .price__wrap .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 80px 16px;
  box-shadow: 0px 0px 15px -10px #777777;
  justify-content: flex-start;
  min-width: 300px;
}
main .price__wrap .box .numb {
  font-size: clamp(6rem, 5.9346938776rem + 0.2040816327vw, 6.2rem);
  font-weight: bold;
  height: 100px;
}
main .price__wrap .box .numb::before {
  content: "¥";
  font-size: clamp(3rem, 2.9346938776rem + 0.2040816327vw, 3.2rem);
  margin-right: 8px;
}
main .price__wrap .box .numb span {
  display: block;
  text-align: center;
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
  width: 100%;
  font-weight: normal;
}
main .price__wrap .box .plan {
  font-size: clamp(2.5rem, 2.4346938776rem + 0.2040816327vw, 2.7rem);
  font-weight: bold;
  text-align: center;
}
main .price__wrap .box .plan span {
  display: block;
  text-align: center;
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
}
main .price__wrap .box .disc {
  text-align: center;
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
}
main .price__wrap .box button {
  background-color: #004C71;
  transition: background-color 0.3s ease;
}
main .price__wrap .box button:hover {
  background-color: #006ea4;
}
main .price__wrap .box button a {
  color: white;
  display: block;
  font-weight: bold;
  padding: 8px;
  width: 100%;
  text-align: center;
}
main .price__wrap .box ul li {
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
  margin-bottom: 4px;
}
main .price__wrap .box ul li::before {
  font: var(--fa-font-solid);
  content: "\f00c";
  color: #004C71;
  margin-right: 4px;
}
main .price__wrap .free button {
  background-color: #706C00;
}
main .price__wrap .free button:hover {
  background-color: #a39d00;
}
main .price__wrap .free ul li::before {
  color: #706C00;
}
main .price__wrap .advanced button {
  background-color: #F07884;
}
main .price__wrap .advanced button:hover {
  background-color: #f5a6ae;
}
main .price__wrap .advanced ul li::before {
  color: #F07884;
}
main .security__wrap {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media screen and (max-width: 768px) {
  main .security__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
main .security__wrap .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
main .security__wrap .box span {
  font-size: clamp(1rem, 0.9346938776rem + 0.2040816327vw, 1.2rem);
}
main .faq__wrap {
  margin-top: 40px;
}
main .faq__wrap .box {
  margin-bottom: 16px;
}
main .faq__wrap .box .q {
  padding: 0px 16px;
  width: 100%;
}
main .faq__wrap .box .q .title {
  color: #004C71;
}
main .faq__wrap .box .q .title::before {
  content: "Q";
  font-size: clamp(4rem, 3.9346938776rem + 0.2040816327vw, 4.2rem);
  font-weight: bold;
  margin-right: 8px;
}
main .faq__wrap .box .a {
  background-color: #EAF2F4;
  padding: 8px 16px;
  width: 100%;
}
main .faq__wrap .box .a .title {
  color: #F07884;
}
main .faq__wrap .box .a .title:hover {
  cursor: pointer;
}
main .faq__wrap .box .a .title::before {
  content: "A";
  font-size: clamp(4rem, 3.9346938776rem + 0.2040816327vw, 4.2rem);
  font-weight: bold;
  margin-right: 8px;
}
main .faq__wrap .box .a .title::after {
  font: var(--fa-font-solid);
  content: "\f105";
  color: #F07884;
  display: inline-block;
  transition: transform 0.3s ease;
}
main .faq__wrap .box .a .title.active::after {
  transform: rotate(90deg);
}

.footer {
  padding-top: 260px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-top: 130px;
  }
}
.footer .mockup {
  position: relative;
  height: 100px;
  background-color: #EAF2F4;
}
.footer .mockup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EAF2F4;
  transform: skewY(-4deg);
  transform-origin: top left;
  z-index: 0;
}
.footer .mockup img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.footer .contents {
  background-color: #EAF2F4;
}
.footer .sns {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.footer .sns img {
  max-height: 50px;
}
.footer__wrap {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer__wrap {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.footer__wrap .logo img {
  max-width: 200px;
}
@media screen and (max-width: 768px) {
  .footer__wrap .logo img {
    display: block;
    margin: 0 auto;
  }
}
.footer__wrap ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
  gap: 4px;
}
@media screen and (max-width: 768px) {
  .footer__wrap ul {
    grid-auto-flow: row;
    justify-items: center; /* 中央揃えを維持 */
  }
}
.footer__wrap ul li a {
  font-size: clamp(1.2rem, 1.1346938776rem + 0.2040816327vw, 1.4rem);
}
.footer .cr {
  text-align: center;
  padding: 40px 0px;
}/*# sourceMappingURL=style.css.map */